<% layout('layouts/boilerPlate') %>
<div class="mt-4 text-center mb-3"><h1>All Campgrounds</h1></div>
<div id="map" class=" mapIndex"></div>
<br>
    <% for(let campground of campgrounds){ %>
        <div class="card mb-3 shadow" >
            <div class="row">
                <div class="col-md-4 imageBox">
                    <% if(campground.images.length){ %> 
                        <img class='img-fluid ' src="<%= campground.images[0].url%>" alt="">
                    <% }else{ %> 
                        <img class='img-fluid ' src="https://source.unsplash.com/collection/483251/1600x900" alt="">
                    <% } %> 
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= campground.title %>
                        </h5>
                        <p class="card-text" id="cardDescription">
                            <%= campground.description %>
                        </p>
                        <h6 class="text-muted">Price :- ₹ <%= campground.price %></h6>
                        <p class="card-text text-muted">
                           Location -  <%= campground.location %>
                        </p>
                        <a class="btn btn-primary" href="/campgrounds/<%= campground._id %>">View</a>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
        <script>
            const mapToken = '<%-process.env.MAPBOX_TOKEN%>'
            const campgrounds = { features: <%- JSON.stringify(campgrounds) %>}
        </script>
        <script src="/javascripts/indexClusterMap.js"></script>
        