<% layout('layouts/boilerPlate') %>
<div class="mt-4 text-center mb-3"><h1>All Campgrounds</h1></div>
  
<div id="map" class=" mapIndex"></div>
<div class="dropdown float-end mt-2">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Sort
    </button>
    <% if(0===0){%>
    <ul class="dropdown-menu">
    <form action="/campgrounds" method="get">
      <li><button class="dropdown-item" data-key="order1" name="order" value = 1 >Price : Low to high</button></li>
      <li><button class="dropdown-item" data-key="order2" name="order" value = 2 >Price : High to low</button></li>
    </form>
    </ul>
    <% } %>
  </div>

<br>
    <% for(let campground of campgrounds){ %>
        <div class="card mb-3 shadow mt-5" >
            <div class="row">
                <div class="col-md-4 imageBox">
                    <div class="img-container">
                        <% if(campground.images.length){ %> 
                            <a href="/campgrounds/<%= campground._id %>"> <img class='img-fluid imghover' src="<%= campground.images[0].url%>" alt="" ></a>
                          
                        <% }else{ %> 
                            <a href="/campgrounds/<%= campground._id %>"><img class='img-fluid imghover' src="https://source.unsplash.com/collection/483251/1600x900" alt=""></a>  
                        <% } %> 
                    </div>
                    
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= campground.title %>
                        </h5>
                        <p class="card-text" id="cardDescription">
                            <%= campground.description %>
                        </p>
                        <h6 class="text-muted">Price :- ₹ <%= campground.price %></h6>
                        <p class="card-text text-muted">
                           Location -  <%= campground.location %>
                        </p>
                        <a class="btn btn-primary" href="/campgrounds/<%= campground._id %>">View</a>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
        <script>
            const mapToken = '<%-process.env.MAPBOX_TOKEN%>'
            const campgrounds = { features: <%- JSON.stringify(campgrounds) %>}
        </script>
        <script src="/javascripts/indexClusterMap.js"></script>
        